*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #333;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

body {
  height: 100vh;
  margin: 0px;
  background-color: var(--background);
}

main {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
}

/*********** HAMBURGER MENU ***********/
.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 999px;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing);
  transform-origin: left center;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin);
  left: var(--hamburger-margin);
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu input {
  appearance: none;
  margin: 0;
  padding: 0;
  outline: 0;
  pointer-events: none;
}

.hamburger-menu input:checked {
  width: 0;
  opacity: 0;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburger-menu:has(input:checked) {
  --foreground: white;
  --background: #333;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu:has(input:focus-visible) {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.sidebar {
  transition: translate var(--animation-timing);
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(var(--hamburger-height) + var(--hamburger-margin) + 1rem);
  color: blanchedalmond;
  background-color: var(--foreground);
  min-height: 100%;
  min-width: 10rem;
  position: absolute;
}

.hamburger-menu.hamburger-menu:has(input:checked)+.sidebar {
  translate: 0;
}


/*********** EYEBALLS - PSEUDO ELEMENTS ***********/
.head {
  display: flex;
  justify-content: space-around;
  width: 20%;
}

.eye {
  background-color: rgba(255, 255, 255, 0.9);
  border: 2px solid hsl(250, 100%, 10%);
  border-radius: 50%;
  height: 75px;
  position: relative;
  width: 75px;
}

.pupil {
  content: "";
  background-color: hsl(10, 10%, 10%);
  border: 1px solid hsl(250, 100%, 10%);
  border-radius: 50%;
  height: 20%;
  position: absolute;
  left: 5%;
  top: 50%;
  width: 20%;
}

.pupil::after {
  content: "";
  background-color: hsl(120, 70%, 100%);
  border: 1px solid hsl(250, 100%, 10%);
  border-radius: 50%;
  height: 25%;
  position: absolute;
  right: 6%;
  top: 45%;
  width: 25%;
}

/***************** CARD ANIMATIONS ****************/
.card-swiper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-groups,
.card-group,
.card {
  aspect-ratio: 5/7;
}

.card-groups,
.card-group,
.big-card {
  width: 30vmin;
}

.card-group {
  position: absolute;
  transition: 400ms ease;
}

.card-swiper-buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8vmin;
}

.card-swiper-buttons>button {
  padding: 10px 20px;
  font-size: 2.5rem;
  font-weight: 500;
  box-shadow: 0px 8px 15px rgba(150, 145, 147, 0.4);
  border-radius: 45px;
  background-color: rgba(100, 150, 250, 0.9);
  border: none;
  outline: none;
  cursor: pointer;
  transition: 300ms ease-in;
}

.card-swiper-buttons>button:hover {
  translate: 0 -5px;
}

.card-swiper-buttons>button:nth-child(1):hover {
  background-color: rgba(250, 75, 20, 0.9);
}

.card-swiper-buttons>button:nth-child(2):hover {
  background-color: rgba(50, 275, 20, 0.9);
}

.card-swiper-buttons>button:active {
  box-shadow: -1px -1px 2px 1px rgba(255, 250, 245, 0.75);
}

.card {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 1vmin;
  position: absolute;
  transition: 800ms cubic-bezier(0.065, 0.84, 0.44, 1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.little-card {
  width: 12vmin;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
}

.big-card:nth-child(2) {
  translate: -2%;
  rotate: -2deg;
  background-image: url(https://images.unsplash.com/photo-1597046835715-16f81ac132c0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

.big-card:nth-child(4) {
  transform: translateX(-5%);
  rotate: -3deg;
  background-image: url(https://images.unsplash.com/photo-1606409696433-30abdea0b0ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}

.big-card:nth-child(6) {
  rotate: 2deg;
  background-image: url(https://images.unsplash.com/photo-1508948956644-0017e845d797?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1517&q=80);
}

.card-group[data-index="1"]>.big-card.big-card:nth-child(6) {
  background-image: url(https://images.unsplash.com/photo-1552053831-71594a27632d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=724&q=80);
}

.card-group[data-index="2"]>.big-card.big-card:nth-child(6) {
  background-image: url(https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

.big-card:nth-child(8) {
  translate: 10% 2%;
  rotate: 3deg;
  background-image: url(https://images.unsplash.com/photo-1477884143921-51d0a574ee09?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

.card-group[data-index="1"]>.big-card.big-card:nth-child(8) {
  background-image: url(https://images.unsplash.com/photo-1543466835-00a7907e9de1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1974&q=80);
}

.card-group[data-index="2"]>.big-card.big-card:nth-child(8) {
  background-image: url(https://images.unsplash.com/photo-1587300003388-59208cc962cb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
}

.little-card:nth-child(1) {
  background-image: url(https://images.unsplash.com/photo-1522008693277-086ad6075b78?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}

.little-card:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1597046600818-1bd04816dd3e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

.little-card:nth-child(5) {
  background-image: url(https://images.unsplash.com/photo-1621936303335-5406c8a85ca0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=987&q=80);
}

.little-card:nth-child(7) {
  background-image: url(https://images.unsplash.com/photo-1562176546-95420556c872?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
}

.card-group:hover>.big-card:nth-child(2) {
  translate: -75% 15%;
  rotate: -20deg;
}

.card-group:hover>.big-card:nth-child(4) {
  translate: -30% 5%;
  rotate: -7.5deg;
}


.card-group:hover>.big-card:nth-child(6) {
  translate: 30% 5%;
  rotate: 7.5deg;
}

.card-group:hover>.big-card:nth-child(8) {
  translate: 75% 15%;
  rotate: 20deg;
}

.card-group:hover>.little-card:nth-child(1) {
  translate: 275% -175%;
  rotate: -15deg;
}

.card-group:hover>.little-card:nth-child(3) {
  translate: 175% 175%;
  rotate: 15deg;
  z-index: 10;
}

.card-group:hover>.little-card:nth-child(5) {
  translate: -275% 175%;
  rotate: -15deg;
}

.card-group:hover>.little-card:nth-child(7) {
  translate: -275% -175%;
  rotate: 15deg;
}

.card-group[data-status="unknown"] {
  scale: 0;
}

.card-group[data-status="active"] {
  transition-delay: 100ms;
}

.card-group[data-status="after"] {
  translate: 50%;
  scale: 0;
}

.card-group[data-status="before"] {
  translate: -50%;
  scale: 0;
}

.card-group[data-status="becoming-active-from-before"] {
  translate: -75%;
  scale: 0;
  transition: none;
}

.card-group[data-status="becoming-active-from-after"] {
  translate: 75%;
  scale: 0;
  transition: none;
}